#main-pic {
	width: 110%;
	margin-left: -15px;
	margin-top: -12%;
	position: relative;
}

#name {
	margin-top: 8%;
	margin-left: 100px;
	position: relative;
	z-index: 1;
	font-family: 'Kaushan Script', cursive;
	font-size: 3em;
}

.little-nav {
	padding: 8px;
	background-color: #222;
}

.glyphicon-leaf {
	margin-left: 6px;
}

a.menu-item:hover {
	color: #BDD2FF !important;
}

#leaf1, a#about {
	color: #537A30;
}

#leaf2, a#portfolio {
	color: #E5DE65;
}

#leaf3, a#contact {
	color: #915840;
}

.main-nav {
	margin-top: 19%;
	background: -moz-linear-gradient(left,  rgba(141,141,141,0) 0%, rgba(173,173,173,0) 33%, rgba(173,173,173,0.4) 45%, rgba(56,56,56,0.6) 57%, rgba(19,19,19,0.85) 75%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(141,141,141,0)), color-stop(33%,rgba(173,173,173,0)), color-stop(45%,rgba(173,173,173,0.4)), color-stop(57%,rgba(56,56,56,0.6)), color-stop(75%,rgba(19,19,19,0.85)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(141,141,141,0) 0%,rgba(173,173,173,0) 33%,rgba(173,173,173,0.4) 45%,rgba(56,56,56,0.6) 57%,rgba(19,19,19,0.85) 75%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(141,141,141,0) 0%,rgba(173,173,173,0) 33%,rgba(173,173,173,0.4) 45%,rgba(56,56,56,0.6) 57%,rgba(19,19,19,0.85) 75%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(141,141,141,0) 0%,rgba(173,173,173,0) 33%,rgba(173,173,173,0.4) 45%,rgba(56,56,56,0.6) 57%,rgba(19,19,19,0.85) 75%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(141,141,141,0) 0%,rgba(173,173,173,0) 33%,rgba(173,173,173,0.4) 45%,rgba(56,56,56,0.6) 57%,rgba(19,19,19,0.85) 75%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008d8d8d', endColorstr='#131313',GradientType=1 ); /* IE6-9 */










}

.navbar-right {
	padding-right: 30px;
}