body {
  background-color: #222;
}

#main-pic {
	width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

#name {
	margin-top: 8%;
	margin-left: 100px;
	position: fixed;
	z-index: 1;
	font-family: 'Kaushan Script', cursive;
	font-size: 3em;
  text-shadow: lightgray 0.1em 0.1em 0.2em;
}

#name:hover {
  color: #915840;
}

.little-nav {
	padding: 8px;
	background-color: #222;
}

.glyphicon-leaf {
	margin-left: 6px;
}

.glyphicon-leaf:hover {
  color: #BDD2FF !important;
}

a.menu-item:hover {
	color: #BDD2FF !important;
}

#leaf1, a#about {
	color: #537A30;
}

#leaf2, a#portfolio {
	color: #E5DE65;
}

#leaf3, a#contact {
	color: #915840;
}

.main-nav {
	margin-top: 19%;
	background: -moz-linear-gradient(left,  rgba(141,141,141,0) 0%, rgba(173,173,173,0) 33%, rgba(173,173,173,0.4) 45%, rgba(56,56,56,0.6) 57%, rgba(19,19,19,0.85) 75%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(141,141,141,0)), color-stop(33%,rgba(173,173,173,0)), color-stop(45%,rgba(173,173,173,0.4)), color-stop(57%,rgba(56,56,56,0.6)), color-stop(75%,rgba(19,19,19,0.85)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(141,141,141,0) 0%,rgba(173,173,173,0) 33%,rgba(173,173,173,0.4) 45%,rgba(56,56,56,0.6) 57%,rgba(19,19,19,0.85) 75%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(141,141,141,0) 0%,rgba(173,173,173,0) 33%,rgba(173,173,173,0.4) 45%,rgba(56,56,56,0.6) 57%,rgba(19,19,19,0.85) 75%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(141,141,141,0) 0%,rgba(173,173,173,0) 33%,rgba(173,173,173,0.4) 45%,rgba(56,56,56,0.6) 57%,rgba(19,19,19,0.85) 75%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(141,141,141,0) 0%,rgba(173,173,173,0) 33%,rgba(173,173,173,0.4) 45%,rgba(56,56,56,0.6) 57%,rgba(19,19,19,0.85) 75%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008d8d8d', endColorstr='#131313',GradientType=1 ); /* IE6-9 */
}

.navbar-right {
	padding-right: 30px;
}

/*.content {
  background: #CCC;
  opacity: 0.6;
  z-index: 1;
  position: relative;
  margin-top: -55%;
  height: 550px;
  border-radius: 1%;
}*/

.section-header {
  padding: 1.5em;
  background-color: #222;
}

h2, h3 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

.about-content, .contact-content {
  background-color: #EEE;
}

#about-title {
  margin-top: 20%;
  margin-bottom: -120px;
  color: #537A30;
  text-shadow: darkgray 0.1em 0.1em 0.2em;
}

.portfolio-content {
  background-color: #5d5d5d;
}

#portfolio-title {
  padding-top: 5%;
  text-align: center;
  text-shadow: #FFF 0.1em 0.1em 0.2em;
  color: #E5DE65;
}

#lucky, #donation, #github {
  max-width: 80%;
  display: block;
  margin: auto;
  border-radius: 1em;
}

.project {
  margin: 5.5% 3%;
}

#contact-title {
  padding-top: 5%;
  text-align: center;
  text-shadow: darkgray 0.1em 0.1em 0.2em;
  color: #915840;
}

.thumbnail {
  background-color: #537A30;
  border-radius: 2em;
}

#bio-text {
  margin: 150px 25px 0 30px;
}

#bio-pic {
  margin-top: 20px;
}

.social {
  display: block;
  margin: auto;
  max-width: 50%;
  padding: 30% 0;
}

footer p {
  color: #888;
  padding: 0;
  margin: 0;
}

@media (max-width: 640px) {
	.main-nav {
		margin-top: -8px;
    max-height: 8px;
	}
  #main-pic {
    margin-top: -16%;
  }
  #name {
    font-size: 2em;
    margin-top: 15%;
    margin-left: 20px;
  }
}